* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* min-width:1000px;   */
    overflow-x: hidden;
}
.top {
    width: 100vw;
    height: 10px;
    display: flex;
    flex-direction: row;
}
.top > div {
    width: 33.33%;
    height: 100%;
}
.red {
    background-color: #f71c52;
}
.purple {
    background-color: #554c86;
}
.green {
    background-color: #39d47a;
}

/* Navigation */
 nav {
     position: relative;
     display: flex;
     justify-content: space-around;
     align-items: center;
     min-height: 10vh;
     box-shadow: 2px 2px 15px rgba(0,0,0,.5);
     font-size: 18px;
 }
 .logo {
     letter-spacing: 3px;
     font-size: 30px;
     cursor: pointer;
 }
 .nav-links {
     list-style: none;
     display: flex;
    justify-content: space-around;
     width: 50%;
 }
 li a {
     text-decoration: none;
     color: black;
     position: relative;
 }
.ham {
    /* display: none; */
}
.ham i{
    cursor: pointer;
}

.nav-toggle {
    display: none;
}
nav li a::before {
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    background-color: black;
    transform: scale(0,1);
    transition: all ease-in-out 250ms;
}
nav li a:hover::before {
    transform: scale(1,1);
}

.social-links {
    width: 100px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.social-links i {
    /* background-color: red; */
    padding: 7px;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}
.social-links i:nth-of-type(2) {
    padding: 7px 10px;
}
.social-links i:hover {
    border-radius: 50%;
    transition: 0.5s;
    color: white;
}
.social-links i:nth-of-type(1):hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.social-links i:nth-of-type(2):hover {
    background-color: #3b5998;
}
.social-links i:nth-of-type(3):hover {
    background-color: #00acee;
}
.ham:hover {
    color: red;
}



@media screen and (max-width: 800px) {
    .nav-links {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .nav-links {
        position: absolute;
        right: 0;
        height: 90vh;
        top: 10vh;
        box-shadow: 0px 0px 10px rgba(0,0,0,.2);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        background: rgba(247, 28, 82, 0.9);
    }
    .nav-toggle:checked ~ .nav-links {
        transform: translateX(0%);
        transition: 0.5s ease-in;
    }
    .ham {
        display: block;
    }
    .social-links{
        display: none;
    }
}
